apiVersion: v1
kind: Service
metadata:
  name: {{ include "branch-cups.fullname" . }}
  labels:
    {{- include "branch-cups.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: ssh
      port: 22
      targetPort: 22
      protocol: TCP
    - name: cups
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    {{- include "branch-cups.selectorLabels" . | nindent 4 }}
